<div class="header">
    <h1 class="logo_area">
        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="#" class="logo">홀덤클럽</a>
    </h1>
    <a href="#" class="btn_login">login</a>
</div>