<div class="header">
    <h1 class="logo_area">
        <a href="#" class="btnLeftMenu"><i class="fa fa-bars" aria-hidden="true"></i></a>
        <a href="#" class="logo">
            <!-- 이미지로 변환할 것. -->
            <img src="/static/images/img_logo.png" alt="홀덤클럽" width="30" height="30" class="img_logo" />
            <span class="text-red">홀덤</span><span class="text-black">클럽</span>
        </a>
    </h1>

    <a href="#" class="btn_login btn btn-danger btn-md">로그인</a>
</div>