<div class="sidebar-fixed">
    <!--<h2>test</h2>-->
    <!--<ul>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
    <!--</ul>-->
    <!--<h2>test2</h2>-->
    <!--<ul>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
        <!--<li><a href="#">list</a></li>-->
    <!--</ul>-->

    <h3>추천방송</h3>
    <ul>
    {{#each recomList}}
    <li><a href="/channel/{{channel_id}}">{{title}}</a></li>
    {{/each}}
    </ul>

    <h3>홀클.tv 컨텐츠</h3>
    <ul>
        {{#each contentlist}}
            <li><a href="/channel/{{channel_id}}">{{title}}</a></li>
        {{/each}}
    </ul>
</div>