<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>HoldemClub TV </span></a>
        </div>

        <div class="clearfix"></div>

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>Back Office</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-video-camera"></i> 방송 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li ><a href="/broadcast/live"><i class="fa fa-bell"></i> 생방송 등록</a></li>
                            <li><a href="/broadcast/calendar"><i class="fa fa-calendar"></i>방송 편셩표 등록</a></li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-folder-o"></i> 컨텐츠<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/content">관리</a></li>
                            <!--<li><a href="form_advanced.html">컨텐츠 그룹</a></li>-->
                            <!--<li><a href="form_validation.html">추천 채널</a></li>-->
                            <!--<li><a href="form_wizards.html">컨텐츠 속성</a></li>-->
                        </ul>
                    </li>
                    <li><a><i class="fa fa-desktop"></i> 이벤트 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="/event/result">결과 등록</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="login.html">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>