<div class="right_col" id="body_bc_calendar" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6 col-lg-6">
                        <h3>방송 편성표 등록</h3>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        {{#unless live_result}}
                            <div class="pull-right">
                                <button class="btn btn-success" data-toggle="modal" data-target="#registerCalendar">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                                    방송 편성표 업로드
                                </button>
                            </div>
                        {{/unless}}
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="row top_tiles">
                        <div class="_animated flipInY col-md-12 col-sm-12 col-xs-12">

                            <div class="thumbnail " style="height:100%">
                                <img src="https://holdemclub.s3.ap-northeast-2.amazonaws.com/main_banner/PC//tmp/upload_5ef9f3f0bca2f7c3c43047045c33c73e" alt="...">
                                <div class="caption">
                                    <h3>2016.12 편셩표</h3>
                                    <p>
                                        <a href="#" class="btn btn-success" role="button">수정</a>
                                        <a href="#" class="btn btn-danger" role="button">삭제</a>

                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>



{{>modal_bc_calendar_register}}