<div class="container body">
    <div class="main_container">
        <!-- page content -->
        <div class="right_col" role="main">
            <h3>Test</h3>
        </div>

        <!-- /page content -->
    </div>
</div>