<div class="right_col" id="body_content" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="dashboard_graph">

                <div class="row x_title">
                    <div class="col-md-6 col-lg-6">
                        <h3>컨텐츠 관리</h3>
                    </div>

                    <div class="col-md-6 col-lg-6">
                        <div class="pull-right">
                            <button class="btn btn-success" data-toggle="modal" data-target="#registerEvent">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;&nbsp;
                                컨텐츠 등록
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="row top_tiles">
                        <div class="_animated flipInY col-md-12 col-sm-12 col-xs-12">
                            <div class="tile-stats col-md-12">
                                <div class="icon"><i class="fa fa-close"></i></div>
                                <div class="count">리스트들은 어떻게 보여줘야 할까요?</div>
                                <h3>블라블라...</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>

{{>modal_content_register}}