<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0; user-scalable=no; target-densityDpi=device-dpi" />
<meta name="Referrer" content="origin" />
<!-- Open Graph -->
<meta property="og:title" content="홀덤클럽티비" />
<meta property="og:url" content="http://holdemclub.tv/" />
<meta property="og:image" content="https://s3.ap-northeast-2.amazonaws.com/holdemclubtv/static/logo_holdemclubtv.png" />
<meta property="og:description" content="텍사스 홀덤, 홀덤, 포커, 포커 전문 영상, 홀덤교육, 홀덤스쿨, 홀덤 콘텐츠 토너먼트" />
<!-- twitter -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="홀덤클럽티비" />
<meta name="twitter:url" content="http://holdemclub.tv/" />
<meta name="twitter:image" content="https://s3.ap-northeast-2.amazonaws.com/holdemclubtv/static/logo_holdemclubtv.png" />
<meta name="twitter:description" content="텍사스 홀덤, 홀덤, 포커, 포커 전문 영상, 홀덤교육, 홀덤스쿨, 홀덤 콘텐츠, 토너먼트" />
<!-- common data -->
<meta name="naver-site-verification" content="a153f94a1cbbeecf0056394854faf2192600cbc5" />
<meta name="description" content="텍사스 홀덤, 홀덤, 포커, 포커 전문 영상, 홀덤교육, 홀덤스쿨, 홀덤 콘텐츠, 토너먼트" />
<meta name="keyword" content="텍사스 홀덤, 홀덤, 포커, 포커 전문 영상, 홀덤교육, 홀덤스쿨, 홀덤 콘텐츠, 토너먼트" />
<meta name="author" content="홀덤클럽티비" />
<link rel="canonical" href="http://holdemclub.tv" />
<link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/components/font-awesome/css/font-awesome.min.css" />
<link rel='stylesheet' href='/stylesheets/styles.css' />
<title>{{title}}</title>
</head>

<body>
    <div class="container-fluid">
        {{{body}}}
    </div>

    <script src="/components/requirejs/require.js"></script>
    <script src="/javascripts/app.js"></script>
    {{#if (isEquals current_path 'login')}}<script src="javascripts/login.js"></script>{{/if}}
    {{#if (isEquals current_path 'INDEX')}}<script src="javascripts/index.js"></script>{{/if}}
</body>
</html>