#holdemclub{}

.sidebar-fixed{
  background: #fff;
  @media screen and (min-width: $width-size01) {
    width: 230px;
    height: 100%;
  }

  @media screen and (max-width: $width-size01) {
    width: 0;
    height: 0;
    display: none;
  }

  //border: 1px solid #f00;
  position: absolute;
  top: 0;
  left: 0;

  .title{
    font-size: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }

  .inner-sidebar{
    padding: 10px;
  }

  li.nav_list{
    list-style: none;
    margin-bottom: 8px;
    // border: 1px solid #f00;
    width: 210px;
    @extend .ellipsis;
    a.linkNav{
      color : $main-font-color;
      font-size: 14px;
    }
    a.linkNav:hover{
      color: $main-color;
    }
  }
}


.recomList,
.channelList{
  padding-left: 0;
}


.content_area{
  // border: 1px solid #f00;
  @media screen and (min-width: $width-size01) {
    padding-left: 230px;
  }

  @media screen and (max-width: $width-size01) {
    padding-left: 0;
  }
}


.content_wrapper{
  position: relative;
  background :#eee;
  padding: 10px;
}

.inner_content{
  max-width: $content-max-width;
  margin: 0 auto;
  background :#fff;
  padding: 10px;
}

html, body{
  overflow-x:hidden;
}

.header{
  border-bottom: 1px solid #eee;
  position: relative;
  .btnLeftMenu{
    color : #b7b7b7;
    font-size: 20px;
  }

  .btnLeftMenu:hover{
    color: $main-color;
  }

  .text-red{
    color: $main-color;
  }
  .text-black {
    color: $main-font-color;
  }
}

.logo_area{
  font-size: 26px;
  position: relative;
  top: -6px;
  left: 25px;
  display: inline-block;

  .logo:hover{
    text-decoration: none;
  }

  .img_logo{
    position: relative;
    top: -3px;
    left: 7px;
  }
}

.btn_login{
  position: absolute;
  right: 20px;
  top: 16px;
}


#footer{
  margin-top: 10px;
  background: #fff;
  padding: 10px;
  text-align: center;
  color : $main-font-color;
}