.recommend{
  padding: 10px;

  a.btn_recom{
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
  }

  .badge{
    position: absolute;
    top: -5px;
    left: -5px;
    background: #d80000;
  }

  // 767이상 스크린
  @media screen and (min-width: 998px) {
    .img_recom{
      width: 100%;


    }
  }

  // 767이하 스크린
  @media screen and (max-width: 998px) {
    .img_recom{
      width: 100%;
      //max-width: 100%;
      //min-width: 100px;
      //min-width: 160px;
      //max-width: 160px;
    }
  }
}
