.channel {
  padding: 10px;
  a.btn_channel{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
  }

  .hits{
    display: block;
    text-align: left;
    color: #444;
    font-size: 14px;
    margin-top: 5px;
  }

  .badge{
    position: absolute;
    top: -5px;
    left: -5px;
    background: #d80000;
  }

  @media screen and (min-width: 768px) {
    .img_channel{
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .img_channel{
      // width: 160px;
      width: 100%;
    }
  }
}