
.video-section{
  background: #f00;
  // todo 배경을 홀덤클럽 로고가 나오는 것으로 변경할 것
  // todo 영상은 저용량으로 변경하여 유튜브에 올리고 연결시킬 것 (음향을 제거하고 해상도를 낮추어서 용량을 최대한 줄이는 방향으로 할 것.)
}

.video-section .pattern-overlay {
  background-color: rgba(71, 71, 71, 0.30);
  //padding: 110px 0 32px;
  min-height: 400px;
  /* Incase of overlay problems just increase the min-height*/
}
.video-section h1, .video-section h3{
  text-align:center;
  color:#fff;
}
.video-section h1{
  font-size:110px;
  font-family: 'Buenard', serif;
  font-weight:bold;
  text-transform: uppercase;
  margin: 40px auto 0px;
  text-shadow: 1px 1px 1px #000;
  -webkit-text-shadow: 1px 1px 1px #000;
  -moz-text-shadow: 1px 1px 1px #000;
}
.video-section h3{
  font-size: 25px;
  font-weight:lighter;
  margin: 0px auto 15px;
}
.video-section .buttonBar{display:none;}
.player {font-size: 1px;}