//@-ms-viewport {width: device-width;}
/* --- Reset --- */
//html, body, div, span, object, iframe, h1, h2, h3, h4, p, a, img, center, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, form, input, button, hr {margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; position:relative; }
//body{padding: 0; border: 0; height:100%}
//html {overflow-x:hidden;}
//article, aside, dialog, figure, footer, header, hgroup, nav, section { display:block; zoom:1; }

/* --- Font --- */
/*h1, h2, h3, h4 {font-family:'Roboto Condensed', Arial, Helvetica, sans-serif; font-style: normal; font-weight:400;}
p, a, center, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, form, input, button, hr {font-family: Verdana, Helvetica, sans-serif; position:relative;}*/

//h1 {font-size: 2.063em;}
//h2 {font-size: 1.688em;}
//h3 {font-size: 1.438em;}
//h4 {font-size: 1.063em;}
//p  {font-size: 0.813em;}
//
//.clear  	{clear:both;}
//.center		{text-align:center;}
//.floatLeft	{float:left;}
//.floatRight	{float:right;}


/* --- 24 Grid --- */
//.gItem     {float:left; text-align:left;}
//
//.gItem-g24 {width: 100%;}
//.gItem-g23 {width: 95.83333333333334%;}
//.gItem-g22 {width: 91.66666666666666%;}
//.gItem-g21 {width: 87.5%;}
//.gItem-g20 {width: 83.33333333333334%;}
//.gItem-g19 {width: 79.16666666666666%;}
//.gItem-g18 {width: 75%;}
//.gItem-g17 {width: 70.83333333333334%;}
//.gItem-g16 {width: 66.66666666666666%;}
//.gItem-g15 {width: 62.5%;}
//.gItem-g14 {width: 58.333333333333336%;}
//.gItem-g13 {width: 54.166666666666664%;}
//.gItem-g12 {width: 50%;}
//.gItem-g11 {width: 45.83333333333333%;}
//.gItem-g10 {width: 41.66666666666667%;}
//.gItem-g09 {width: 37.5%;}
//.gItem-g08 {width: 33.33333333333333%;}
//.gItem-g07 {width: 29.166666666666668%;}
//.gItem-g06 {width: 25%;}
//.gItem-g05 {width: 20.833333333333336%;}
//.gItem-g04 {width: 16.666666666666664%;}
//.gItem-g03 {width: 12.5%;}
//.gItem-g02 {width: 8.333333333333332%;}
//.gItem-g01 {width: 4.166666666666666%;}
//
//.gSpace-g24 {margin-left: 100%;}
//.gSpace-g23 {margin-left: 95.83333333333334%;}
//.gSpace-g22 {margin-left: 91.66666666666666%;}
//.gSpace-g21 {margin-left: 87.5%;}
//.gSpace-g20 {margin-left: 83.33333333333334%;}
//.gSpace-g19 {margin-left: 79.16666666666666%;}
//.gSpace-g18 {margin-left: 75%;}
//.gSpace-g17 {margin-left: 70.83333333333334%;}
//.gSpace-g16 {margin-left: 66.66666666666666%;}
//.gSpace-g15 {margin-left: 62.5%;}
//.gSpace-g14 {margin-left: 58.333333333333336%;}
//.gSpace-g13 {margin-left: 54.166666666666664%;}
//.gSpace-g12 {margin-left: 50%;}
//.gSpace-g11 {margin-left: 45.83333333333333%;}
//.gSpace-g10 {margin-left: 41.66666666666667%;}
//.gSpace-g09 {margin-left: 37.5%;}
//.gSpace-g08 {margin-left: 33.33333333333333%;}
//.gSpace-g07 {margin-left: 29.166666666666668%;}
//.gSpace-g06 {margin-left: 25%;}
//.gSpace-g05 {margin-left: 20.833333333333336%;}
//.gSpace-g04 {margin-left: 16.666666666666664%;}
//.gSpace-g03 {margin-left: 12.5%;}
//.gSpace-g02 {margin-left: 8.333333333333332%;}
//.gSpace-g01 {margin-left: 4.166666666666666%;}
//
//.ps-col			{margin:0 15px;}
//.container  	{margin:0 auto; text-align:center;}

/* Footer Logos */
//.logos span {background:url('//s5.rationalcdn.com/img/sprites/logos-transparent.png') no-repeat;height:46px;display:inline-block; *display: inline; *zoom:1; cursor:pointer;}
//#logo_rational 		{ width:93px;background-position: 0 10px;}
//#logo_cigital 		{ width:69px;background-position: 0 -40px;}
//#logo_gameCareCert 	{ width:58px;background-position: 0 -90px;}
//#logo_gameCare 		{ width:39px;background-position: 0 -140px;}
//#logo_iom 			{ width:51px;background-position: 0 -190px;}
//#logo_igc 			{ width:68px;background-position: 0 -240px;}
//#logo_over18 		{ width:40px;background-position: 0 -290px;}
//#logo_seguro 		{ width:160px;background-position: 0 -340px;}
//#logo_estrellas 	{ width:70px;background-position: 0 -390px;}
//#logo_fejar 		{ width:34px;background-position: 0 -440px;}
//#logo_exclusion 	{ width:36px;background-position: 0 -490px;}
//#logo_malta 		{ width:135px;background-position: 0 -540px;}
//#logo_aams 			{ width:55px;background-position: 0 -590px;}
//#logo_aamsgov 		{ width:70px;background-position: 0 -640px;}
//#logo_labs 			{ width:85px;background-position: 0 -690px;}
//#logo_arjel			{ width:45px;background-position: 0 -751px;}
//#logo_adictel		{ width:105px;background-position: 0 -805px;}
//#logo_secureSite	{ width:50px;background-position: 0 -854px;}


/*.logos {display: block; text-align: center; float: none; padding: 10px 0px 0 0px; margin: 0 auto;}
.logos .lg {display: inline-block; float: right; background: url('../img/logos-sprite5small-opt.png') 0 0 no-repeat; height: 26px; border: 0px solid white;}
.logos #logo_rational 		{width: 62px; background-position: -48px -10px;}
.logos #logo_cigital 		{width: 52px; background-position: -54px -52px;}
.logos #logo_gameCareCert 	{width: 30px; background-position: -64px -220px;}
.logos #logo_gameCare 		{width: 42px; background-position: -59px -96px;}
.logos #logo_iom 			{width: 34px; background-position: -63px -266px;}
.logos .zeb 				{width: 30px; background-position: -66px -311px;}
.logos .igc 				{width: 53px; background-position: -53px -136px;}
.logos .juego 				{width: 116px; background-position: -22px -392px;}
.logos .adult 				{width: 30px; background-position: -65px -175px;}
.logos #logo_exclusion 		{width: 26px; background-position: -67px -352px;}
.logos #logo_fejar 			{width: 34px; background-position: -4px -450px;}
.logos .g-cert 				{width: 70px; background-position: -47px -432px;}

.list-inline > li:first-child {padding-left: 0; padding-right: 12px;}*/

//
//@media (max-width: 764px) {
//  .container {max-width:100%;}
//
//
//  .gSpace-g01, .gSpace-g02, .gSpace-g03, .gSpace-g04, .gSpace-g05, .gSpace-g06, .gSpace-g07, .gSpace-g08, .gSpace-g09, .gSpace-g10, .gSpace-g11, .gSpace-g12, .gSpace-g13, .gSpace-g14, .gSpace-g15, .gSpace-g16, .gSpace-g17, .gSpace-g18, .gSpace-g19, .gSpace-g20, .gSpace-g21, .gSpace-g22, .gSpace-g23, .gSpace-g24  {margin-left:0;}
//
//  .gItem-l-g01, .gItem-l-g02, .gItem-l-g03, .gItem-l-g04, .gItem-l-g05, .gItem-l-g06, .gItem-l-g07, .gItem-l-g08, .gItem-l-g09, .gItem-l-g10, .gItem-l-g11, .gItem-l-g12, .gItem-l-g13, .gItem-l-g14, .gItem-l-g15, .gItem-l-g16, .gItem-l-g17, .gItem-l-g18, .gItem-l-g19, .gItem-l-g20, .gItem-l-g21, .gItem-l-g22, .gItem-l-g23, .gItem-l-g24,
//  .gItem-m-g01, .gItem-m-g02, .gItem-m-g03, .gItem-m-g04, .gItem-m-g05, .gItem-m-g06, .gItem-m-g07, .gItem-m-g08, .gItem-m-g09, .gItem-m-g10, .gItem-m-g11, .gItem-m-g12, .gItem-m-g13, .gItem-m-g14, .gItem-m-g15, .gItem-m-g16, .gItem-m-g17, .gItem-m-g18, .gItem-m-g19, .gItem-m-g20, .gItem-m-g21, .gItem-m-g22, .gItem-m-g23, .gItem-m-g24,
//  .gItem-s-g01, .gItem-s-g02, .gItem-s-g03, .gItem-s-g04, .gItem-s-g05, .gItem-s-g06, .gItem-s-g07, .gItem-s-g08, .gItem-s-g09, .gItem-s-g10, .gItem-s-g11, .gItem-s-g12, .gItem-s-g13, .gItem-s-g14, .gItem-s-g15, .gItem-s-g16, .gItem-s-g17, .gItem-s-g18, .gItem-s-g19, .gItem-s-g20, .gItem-s-g21, .gItem-s-g22, .gItem-s-g23, .gItem-s-g24  {width:100%}
//
//  .gItem-xs-g24 {width: 100%;}
//  .gItem-xs-g23 {width: 95.83333333333334%;}
//  .gItem-xs-g22 {width: 91.66666666666666%;}
//  .gItem-xs-g21 {width: 87.5%;}
//  .gItem-xs-g20 {width: 83.33333333333334%;}
//  .gItem-xs-g19 {width: 79.16666666666666%;}
//  .gItem-xs-g18 {width: 75%;}
//  .gItem-xs-g17 {width: 70.83333333333334%;}
//  .gItem-xs-g16 {width: 66.66666666666666%;}
//  .gItem-xs-g15 {width: 62.5%;}
//  .gItem-xs-g14 {width: 58.333333333333336%;}
//  .gItem-xs-g13 {width: 54.166666666666664%;}
//  .gItem-xs-g12 {width: 50%;}
//  .gItem-xs-g11 {width: 45.83333333333333%;}
//  .gItem-xs-g10 {width: 41.66666666666667%;}
//  .gItem-xs-g09 {width: 37.5%;}
//  .gItem-xs-g08 {width: 33.33333333333333%;}
//  .gItem-xs-g07 {width: 29.166666666666668%;}
//  .gItem-xs-g06 {width: 25%;}
//  .gItem-xs-g05 {width: 20.833333333333336%;}
//  .gItem-xs-g04 {width: 16.666666666666664%;}
//  .gItem-xs-g03 {width: 12.5%;}
//  .gItem-xs-g02 {width: 8.333333333333332%;}
//  .gItem-xs-g01 {width: 4.166666666666666%;}
//
//  /* Footer Logos */
//  .logos span {background:url('//s5.rationalcdn.com/img/sprites/logos-transparent-small.png') no-repeat;height:23px;display:inline-block; *display: inline; *zoom:1; cursor:pointer;}
//  #logo_rational 		{ width:47px;background-position: 0 5px;}
//  #logo_cigital 		{ width:35px;background-position: 0 -20px;}
//  #logo_gameCareCert 	{ width:27px;background-position: 0 -45px;}
//  #logo_gameCare 		{ width:20px;background-position: 0 -70px;}
//  #logo_iom 			{ width:25px;background-position: 0 -85px;}
//  #logo_igc 			{ width:34px;background-position: 0 -120px;}
//  #logo_over18 		{ width:20px;background-position: 0 -145px;}
//  #logo_seguro 		{ width:80px;background-position: 0 -170px;}
//  #logo_estrellas 	{ width:35px;background-position: 0 -185px;}
//  #logo_fejar 		{ width:17px;background-position: 0 -220px;}
//  #logo_exclusion 	{ width:16px;background-position: 0 -245px;}
//  #logo_malta 		{ width:67px;background-position: 0 -270px;}
//  #logo_aams 			{ width:27px;background-position: 0 -385px;}
//  #logo_aamsgov 		{ width:35px;background-position: 0 -320px;}
//  #logo_labs 			{ width:43px;background-position: 0 -345px;}
//  #logo_arjel			{ width:25px;background-position: 0 -376px;}
//  #logo_adictel		{ width:55px;background-position: 0 -402px;}
//  #logo_secureSite	{ width:30px;background-position: 0 -427px;}
//
//}
//
//@media (min-width: 765px) {
//  .container {max-width: 750px;}
//
//  .gItem-l-g01, .gItem-l-g02, .gItem-l-g03, .gItem-l-g04, .gItem-l-g05, .gItem-l-g06, .gItem-l-g07, .gItem-l-g08, .gItem-l-g09, .gItem-l-g10, .gItem-l-g11, .gItem-l-g12, .gItem-l-g13, .gItem-l-g14, .gItem-l-g15, .gItem-l-g16, .gItem-l-g17, .gItem-l-g18, .gItem-l-g19, .gItem-l-g20, .gItem-l-g21, .gItem-l-g22, .gItem-l-g23, .gItem-l-g24,
//  .gItem-m-g01, .gItem-m-g02, .gItem-m-g03, .gItem-m-g04, .gItem-m-g05, .gItem-m-g06, .gItem-m-g07, .gItem-m-g08, .gItem-m-g09, .gItem-m-g10, .gItem-m-g11, .gItem-m-g12, .gItem-m-g13, .gItem-m-g14, .gItem-m-g15, .gItem-m-g16, .gItem-m-g17, .gItem-m-g18, .gItem-m-g19, .gItem-m-g20, .gItem-m-g21, .gItem-m-g22, .gItem-m-g23, .gItem-m-g24  {width:100%}
//
//  .gItem-s-g24 {width: 100%;}
//  .gItem-s-g23 {width: 95.83333333333334%;}
//  .gItem-s-g22 {width: 91.66666666666666%;}
//  .gItem-s-g21 {width: 87.5%;}
//  .gItem-s-g20 {width: 83.33333333333334%;}
//  .gItem-s-g19 {width: 79.16666666666666%;}
//  .gItem-s-g18 {width: 75%;}
//  .gItem-s-g17 {width: 70.83333333333334%;}
//  .gItem-s-g16 {width: 66.66666666666666%;}
//  .gItem-s-g15 {width: 62.5%;}
//  .gItem-s-g14 {width: 58.333333333333336%;}
//  .gItem-s-g13 {width: 54.166666666666664%;}
//  .gItem-s-g12 {width: 50%;}
//  .gItem-s-g11 {width: 45.83333333333333%;}
//  .gItem-s-g10 {width: 41.66666666666667%;}
//  .gItem-s-g09 {width: 37.5%;}
//  .gItem-s-g08 {width: 33.33333333333333%;}
//  .gItem-s-g07 {width: 29.166666666666668%;}
//  .gItem-s-g06 {width: 25%;}
//  .gItem-s-g05 {width: 20.833333333333336%;}
//  .gItem-s-g04 {width: 16.666666666666664%;}
//  .gItem-s-g03 {width: 12.5%;}
//  .gItem-s-g02 {width: 8.333333333333332%;}
//  .gItem-s-g01 {width: 4.166666666666666%;}
//
//
//  /* Footer Logos */
//  .logos span {background:url('//s5.rationalcdn.com/img/sprites/logos-transparent-small.png') no-repeat;height:23px;display:inline-block; *display: inline; *zoom:1; cursor:pointer;}
//  #logo_rational 		{ width:47px;background-position: 0 5px;}
//  #logo_cigital 		{ width:35px;background-position: 0 -20px;}
//  #logo_gameCareCert 	{ width:27px;background-position: 0 -45px;}
//  #logo_gameCare 		{ width:20px;background-position: 0 -70px;}
//  #logo_iom 			{ width:25px;background-position: 0 -85px;}
//  #logo_igc 			{ width:34px;background-position: 0 -120px;}
//  #logo_over18 		{ width:20px;background-position: 0 -145px;}
//  #logo_seguro 		{ width:80px;background-position: 0 -170px;}
//  #logo_estrellas 	{ width:35px;background-position: 0 -185px;}
//  #logo_fejar 		{ width:17px;background-position: 0 -220px;}
//  #logo_exclusion 	{ width:16px;background-position: 0 -245px;}
//  #logo_malta 		{ width:67px;background-position: 0 -270px;}
//  #logo_aams 			{ width:27px;background-position: 0 -385px;}
//  #logo_aamsgov 		{ width:35px;background-position: 0 -320px;}
//  #logo_labs 			{ width:43px;background-position: 0 -345px;}
//  #logo_arjel			{ width:25px;background-position: 0 -376px;}
//  #logo_adictel		{ width:55px;background-position: 0 -402px;}
//  #logo_secureSite	{ width:30px;background-position: 0 -427px;}
//
//}
//
//@media (min-width: 992px) {
//  .container {max-width: 970px;}
//
//  .gItem-l-g01, .gItem-l-g02, .gItem-l-g03, .gItem-l-g04, .gItem-l-g05, .gItem-l-g06, .gItem-l-g07, .gItem-l-g08, .gItem-l-g09, .gItem-l-g10, .gItem-l-g11, .gItem-l-g12, .gItem-l-g13, .gItem-l-g14, .gItem-l-g15, .gItem-l-g16, .gItem-l-g17, .gItem-l-g18, .gItem-l-g19, .gItem-l-g20, .gItem-l-g21, .gItem-l-g22, .gItem-l-g23, .gItem-l-g24  {width:100%}
//
//  .gItem-m-g24 {width: 100%;}
//  .gItem-m-g23 {width: 95.83333333333334%;}
//  .gItem-m-g22 {width: 91.66666666666666%;}
//  .gItem-m-g21 {width: 87.5%;}
//  .gItem-m-g20 {width: 83.33333333333334%;}
//  .gItem-m-g19 {width: 79.16666666666666%;}
//  .gItem-m-g18 {width: 75%;}
//  .gItem-m-g17 {width: 70.83333333333334%;}
//  .gItem-m-g16 {width: 66.66666666666666%;}
//  .gItem-m-g15 {width: 62.5%;}
//  .gItem-m-g14 {width: 58.333333333333336%;}
//  .gItem-m-g13 {width: 54.166666666666664%;}
//  .gItem-m-g12 {width: 50%;}
//  .gItem-m-g11 {width: 45.83333333333333%;}
//  .gItem-m-g10 {width: 41.66666666666667%;}
//  .gItem-m-g09 {width: 37.5%;}
//  .gItem-m-g08 {width: 33.33333333333333%;}
//  .gItem-m-g07 {width: 29.166666666666668%;}
//  .gItem-m-g06 {width: 25%;}
//  .gItem-m-g05 {width: 20.833333333333336%;}
//  .gItem-m-g04 {width: 16.666666666666664%;}
//  .gItem-m-g03 {width: 12.5%;}
//  .gItem-m-g02 {width: 8.333333333333332%;}
//  .gItem-m-g01 {width: 4.166666666666666%;}
//
//  /* Footer Logos */
//  .logos span {background:url('//s5.rationalcdn.com/img/sprites/logos-transparent.png') no-repeat;height:46px;display:inline-block; *display: inline; *zoom:1; cursor:pointer;}
//  #logo_rational 		{ width:93px;background-position: 0 10px;}
//  #logo_cigital 		{ width:69px;background-position: 0 -40px;}
//  #logo_gameCareCert 	{ width:58px;background-position: 0 -90px;}
//  #logo_gameCare 		{ width:39px;background-position: 0 -140px;}
//  #logo_iom 			{ width:51px;background-position: 0 -190px;}
//  #logo_igc 			{ width:68px;background-position: 0 -240px;}
//  #logo_over18 		{ width:40px;background-position: 0 -290px;}
//  #logo_seguro 		{ width:160px;background-position: 0 -340px;}
//  #logo_estrellas 	{ width:70px;background-position: 0 -390px;}
//  #logo_fejar 		{ width:34px;background-position: 0 -440px;}
//  #logo_exclusion 	{ width:36px;background-position: 0 -490px;}
//  #logo_malta 		{ width:135px;background-position: 0 -540px;}
//  #logo_aams 			{ width:55px;background-position: 0 -590px;}
//  #logo_aamsgov 		{ width:70px;background-position: 0 -640px;}
//  #logo_labs 			{ width:85px;background-position: 0 -690px;}
//  #logo_arjel			{ width:45px;background-position: 0 -751px;}
//  #logo_adictel		{ width:105px;background-position: 0 -805px;}
//  #logo_secureSite	{ width:50px;background-position: 0 -854px;}
//
//
//}
//
//@media (min-width: 1200px) {
//  .container {max-width: 1170px;}
//
//  .gItem-l-g24 {width: 100%;}
//  .gItem-l-g23 {width: 95.83333333333334%;}
//  .gItem-l-g22 {width: 91.66666666666666%;}
//  .gItem-l-g21 {width: 87.5%;}
//  .gItem-l-g20 {width: 83.33333333333334%;}
//  .gItem-l-g19 {width: 79.16666666666666%;}
//  .gItem-l-g18 {width: 75%;}
//  .gItem-l-g17 {width: 70.83333333333334%;}
//  .gItem-l-g16 {width: 66.66666666666666%;}
//  .gItem-l-g15 {width: 62.5%;}
//  .gItem-l-g14 {width: 58.333333333333336%;}
//  .gItem-l-g13 {width: 54.166666666666664%;}
//  .gItem-l-g12 {width: 50%;}
//  .gItem-l-g11 {width: 45.83333333333333%;}
//  .gItem-l-g10 {width: 41.66666666666667%;}
//  .gItem-l-g09 {width: 37.5%;}
//  .gItem-l-g08 {width: 33.33333333333333%;}
//  .gItem-l-g07 {width: 29.166666666666668%;}
//  .gItem-l-g06 {width: 25%;}
//  .gItem-l-g05 {width: 20.833333333333336%;}
//  .gItem-l-g04 {width: 16.666666666666664%;}
//  .gItem-l-g03 {width: 12.5%;}
//  .gItem-l-g02 {width: 8.333333333333332%;}
//  .gItem-l-g01 {width: 4.166666666666666%;}
//
//}

/* --- Template Hightlights ---
.red 	{background-color: #dd7f80;}
.green 	{background-color: #8dc59a;}
.grey 	{background-color: #b2b2b2;}
.lgrey 	{background-color: #cccccc;}*/

/* ------------------ ie8, 7,6 Fix ------------------ */
//html, body {_position : fixed;}
//.gItem-g16  {_width : 65%}
//.gItem-g12, .gItem-xs-g12, .gItem-s-g12, .gItem-m-g12, .gItem-l-g12 {*width: 49.9%;}
//.gItem-g08, .gItem-xs-g08, .gItem-s-g08, .gItem-m-g08, .gItem-l-g08 {*width: 33.3%; _width: 33%}
//.gItem-g06, .gItem-xs-g06, .gItem-s-g06, .gItem-m-g06, .gItem-l-g06 {*width: 24.9%;}
//.gItem-g02, .gItem-xs-g02, .gItem-s-g02, .gItem-m-g02, .gItem-l-g02 {*width: 8.3%;}
//.gItem-g01, .gItem-xs-g01, .gItem-s-g01, .gItem-m-g01, .gItem-l-g01 {*width: 4.11%;}
//



/*******************/
/* Build Time: Thu Feb 05 2015 14:28:00 GMT+0000 (GMT Standard Time) */
#languageSelector.active {
  display:block;
}
.ps-ui-rm-init-hide li  {visibility:hidden !important;}
li.ps-ui-rm-more.rm-hidden {visibility:hidden !important;}
li.ps-ui-rm-more        {}
ul.ps-ui-rm-main li.rm-hidden, ul.ps-ui-rm-overflow li.rm-hidden {visibility: hidden; position: absolute;/*IE8 bug with absolute, oldie.css sets this to relative*/left:0;/*left:0; fixes iOS overflow issue*/}
div.ps-ui-rm-overflow-container {display:none !important; top:30px; position:absolute; left:0px; width:100%; background:#FFF; z-index:10;}

div.ps-ui-rm-overflow-container ul:first-child  {padding-bottom:0;}
div.ps-ui-rm-overflow-container ul:last-child   {padding-top:0;}

div.ps-ui-rm-overflow-container ul li a                 {display:block !important; padding:10px; border-top:1px solid #CCC; background:#F5F5F5; color:#333333;}

div.ps-ui-rm-overflow-container a:hover         {background:#3F3F3F; color:#fff; text-decoration:none;}
div.ps-ui-rm-overflow-container.visible         {display:block !important;}
ul.ps-ui-rm-main-overflow.visible               {display:block !important;}

div.ps-ui-rm-overflow-container ul:first-child li:last-child a {border-bottom:none;}
div.ps-ui-rm-overflow-container ul li:last-child a {border-bottom:1px solid #CCC;}

#sectionNav .ps-ui-rm-overflow-container{top:34px;}
#sectionNav ul.ps-ui-rm-overflow li     {display:block; float: none;}
#sectionNav ul.ps-ui-rm-overflow li a   {border-top:none; border-left:none; border-right:none}
div.ps-ui-slide-out-menu                {width:0; right:0; height: 100%; position: absolute; z-index: 999; visibility:hidden; overflow:hidden;}
div.ps-ui-slide-out-menu.active     {width: 80%; visibility:visible;}
div.ps-ui-slide-out-menu.active + div   {position: absolute; right: 80%;}
div.ps-ui-slide-out-menu + div      {right:0;}

.ps-ui-slide-out-menu ul            {padding:20px;}
.ps-ui-slide-out-menu ul li         {padding:0;}
.ps-ui-slide-out-menu ul li a       {padding:10px 0; display:block; color:#efefef; text-transform:uppercase;font-family:'Roboto Condensed', sans-serif; font-size:1.750em; border-top:1px solid #333;}
.ps-ui-slide-out-menu ul li:last-child a {border-bottom:1px solid #333}

.ps-ui-slide-out-menu #estateLogo   {margin-bottom:0 !important;}
.ps-ui-slide-out-menu ul li.dropdown{background:url("//www.psimg.com/img/estate/downarrow.gif") no-repeat scroll right 20px;}

/* Base Layout */
/* No JS */
.story-rotator.no-js {
  width: 950px;
  display: block;
  overflow: hidden;
  margin: 0;
}
.story-rotator.no-js .item {
  width: 450px;
  height: auto;
  margin: 25px 0 0 25px;
  display: inline;
  float: left;
  border: none;
}
.story-rotator.no-js .story-rotator-wrapper {
  background: none;
  position: inherit;
}
/* End of No JS */
/* Transitions */
.story-rotator .item {
  transition:width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out; /* Firefox 4 */
  -webkit-transition:width 0.3s ease-out; /* Safari and Chrome */
  -o-transition:width 0.3s ease-out; /* Opera */
}

.story-rotator .item div {
  transition:left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out; /* Firefox 4 */
  -webkit-transition:left 0.3s ease-out; /* Safari and Chrome */
  -o-transition:left 0.3s ease-out; /* Opera */
}

/* End of Transitions*/
/* Full Layout */
.story-rotator-wrapper {
  background: none;
  position: absolute;
  width: 150%;
  height: 300px;
  z-index:1;
}
.story-rotator {
  position: relative;
  height: 300px;
  display: block;
  overflow: hidden;
  margin: 25px 20px 0 25px;
}
.story-rotator .item {
  margin: 0;
  display: block;
  position: relative;
  width: 11.5%;
  height: 300px;
  float: left;
  overflow: hidden;
  border-left: solid 2px #000;
}
/* IE height fix */
.story-rotator .item a {
  height: 100%;
}
.story-rotator .item.focused {
  margin: 0;
  display: block;
  position: relative;
  width: 32%;
  height: 300px;
  float: left;
  overflow: hidden;
  border-left: solid 2px #000;
}
.story-rotator .item:first-child {
  border-left: none;
}
.story-rotator .item:last-of-type {
  /* Fix for multiple transitions simultaniously in progress */
  width:32%;
}
.story-rotator .item.focused .caption {
  padding: 0 0 15px 0;
}

/* Showing/Hiding Captions*/
.story-rotator .item .full {
  display: none;
}
.story-rotator .item .small {
  display: inline;
}
.story-rotator .focused .small {
  display: none !important;
}
.story-rotator .focused .full {
  display: inline !important;
}
/*
    Non-IE hack version (double classes)
    .story-rotator .item .caption.full {
    display: none;
}
.story-rotator .item.focused .caption.small {
    display: none;
}
.story-rotator .item.focused .caption.full {
    display: inline;
}
.story-rotator .item .caption.small {
    display: inline;
}*/

.story-rotator .caption {
  background: url('http://www.psimg.com/img/blog/overlay.png') repeat-x;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 10px 0;
  line-height: 1.5em;
  display: block;
  width: 100%;
}
//.story-rotator .item .caption h2 {
//  font: 700 14px Arial, sans-serif;
//  padding: 0 0 0 10px;
//  margin-top: 5px;
//  margin-bottom: 10px;
//  color: #FFF;
//}
.story-rotator .item .caption strong {
  padding: 15px 15px 5px 15px;
  color: #FFF;
  display: block;
  font-size: 15px;
}
.story-rotator .item:last-of-type .caption h2 {
  width: 25.5%;
}
.story-rotator .item.focused:last-of-type .caption h2 {
  width: 86%;
}
.story-rotator .item .caption a {
  color: #FFF; text-decoration:none;
}
.story-rotator .item  p {
  color: #CCC;
  padding: 0 10px;
}
.rotator-button {
  display:none;
}
/* End of Full Layout */
/* Button Layout */
.rotator-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  z-index: 2;
  border-radius:25px;
  background-color: rgba(5, 5, 5, 0.5);
  cursor:pointer;}
.rotator-button.previous-button {
  left:3%;
}
.rotator-button.next-button {
  right:3%;
}
.rotator-button:before,
.rotator-button:after {
  content:"";
  width:12px;
  height:15px;
  left:15px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.70);
}
.rotator-button:active:before,
.rotator-button:active:after {
  background-color: rgba(255, 255, 255, 0.90);
}
.rotator-button:before {
  top:10px;

  -webkit-transform: skew(-45deg, 0deg);
  -moz-transform: skew(-45deg, 0deg);
  -ms-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg);
}
.rotator-button:after {
  top:25px;

  -webkit-transform: skew(45deg, 0deg);
  -moz-transform: skew(45deg, 0deg);
  -ms-transform: skew(45deg, 0deg);
  -o-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg);
}
.rotator-button.next-button:before {
  left:20px;

  -webkit-transform: skew(45deg, 0deg);
  -moz-transform: skew(45deg, 0deg);
  -ms-transform: skew(45deg, 0deg);
  -o-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg);
}
.rotator-button.next-button:after {
  left:20px;

  -webkit-transform: skew(-45deg, 0deg);
  -moz-transform: skew(-45deg, 0deg);
  -ms-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg);
}

.rotator-button:active {
  background-color: rgba(5, 5, 5, 0.8);
}
/* End of Button Layout */
/* Mobile view */
@media (max-width: 764px) {
  .rotator-button {
    display:inline;
  }
  .story-rotator-wrapper {
    width: 100%;
  }
  .story-rotator .item.focused div {
    background-position: 50% 0% !important;
  }

  /* Previous & Next slides view */
  .story-rotator .item.previous {
    left: -50%;
  }
  .story-rotator .item.next {
    right: -50%;
  }

  .story-rotator .item.previous div.caption,
  .story-rotator .item.next div.caption {
    display: none;
  }

  .story-rotator .item:last-of-type {
    width: 100%;
  }
  .story-rotator .item.previous,
  .story-rotator .item.next {
    display:block;
  }
  .story-rotator .item.next a div,
  .story-rotator .item.previous a div {
    /* Tablet View - Override positioning */
    background-position: 50% 0% !important;
  }
  .story-rotator .item {
    width: 100%;
    overflow: hidden;
    border-left: none;
    position:absolute;
    z-index:90;
    display:none;
  }
  .story-rotator .item:before {
    content:'';
    position:absolute;
    width:100%;
    height:100%;
    background-color:black;
    opacity:0.3;
    z-index:91;
  }

  .story-rotator .item.focused {
    display: block;
    width: 100%;
    border-left: none;
    z-index:92;

  }
  .story-rotator .item.focused * {
    z-index:92;
  }

  .story-rotator .item.focused:before {
    opacity:0;
    z-index:91;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out;
  }
  .story-rotator .item .caption h2 {
    padding: 5px 0 0 10px !important;
  }
  .story-rotator a div {
    left:0 !important;
  }
  .story-rotator .item div {
    transition: none;
    -moz-transition: none; /* Firefox 4 */
    -webkit-transition: none; /* Safari and Chrome */
    -o-transition: none; /* Opera */
  }
}
/* End of Mobile view*/

.story-rotator .focused div {
  left:0 !important;
}
.panel-tabs .hidden {display:none;}

/* --- Panel Tabs --- */
.panel-tabs                 {}

/* --- Panel Tabs Header --- */
.panel-tabs .tabs-container {background:#000; padding:0px; margin:0; clear:both; border:1px solid #ccc;border-bottom:none;cursor:pointer; white-space:nowrap;}
.panel-tabs .tab-button         {background:#000; font-family: 'Roboto Condensed', sans-serif; font-size: 15px; padding:10px 15px;  display: table-cell; color:#CCC;}

.panel-tabs .tab-button.selected, .panel-tabs .tab-button:hover{ color:#666 !important; text-decoration:none; background: #d5d5d5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZDVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #d5d5d5 0%, #e8e8e8 11%, #f6f6f6 42%, #ffffff 69%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d5d5d5), color-stop(11%,#e8e8e8), color-stop(42%,#f6f6f6), color-stop(69%,#ffffff), color-stop(100%,#ffffff));
  background: -webkit-linear-gradient(top,  #d5d5d5 0%,#e8e8e8 11%,#f6f6f6 42%,#ffffff 69%,#ffffff 100%);
  background: -o-linear-gradient(top,  #d5d5d5 0%,#e8e8e8 11%,#f6f6f6 42%,#ffffff 69%,#ffffff 100%);
  background: -ms-linear-gradient(top,  #d5d5d5 0%,#e8e8e8 11%,#f6f6f6 42%,#ffffff 69%,#ffffff 100%);
  background: linear-gradient(to bottom,  #d5d5d5 0%,#e8e8e8 11%,#f6f6f6 42%,#ffffff 69%,#ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#ffffff',GradientType=0 );}

/* --- Panel Tabs Content --- */
.panel-tabs .tab-panel          {border:1px solid #ccc; border-top:none; padding:15px;}

.hidden {display:none;}

/* --- Panel Tabs --- */
.square-tabs                    {}

.square-tabs .tab-buttons-wrapper {position:absolute; right:0; top:-30px;}

/* --- Panel Tabs Header --- */
.square-tabs .tab-button        {overflow:hidden; height:10px; width:10px; display:block; float:left; background-color:#ccc; margin:3px 0 0 3px; text-decoration:none; outline:none; border:1px solid #b8b8b8;text-indent:-10000px;}
.square-tabs .tab-button.selected, .square-tabs .tab-button:hover{background-color:#d7121c;}

/* --- Panel Tabs Content --- */
.square-tabs .tab-content       {display:block;}

@media (max-width: 764px) {
  .square-tabs .tab-button {height:15px; width:15px; margin-top:-3px;}
}

.ps-ui-scroller             {height: 300px; overflow:hidden; position:relative; user-select:none; -o-user-select:none; -moz-user-select:none; -khtml-user-select:none; -webkit-user-select:none;}
.ps-ui-scroller .viewport   {height: 300px; overflow: hidden; position: relative; z-index:10;}
.ps-ui-scroller .overview   {list-style:none; /*position:absolute;*/ left:0; top:0; margin:0;}
.ps-ui-scroller .scrollbar  {background:transparent url(//s4.rationalcdn.com/ps/ui/scroller/images/bg-scrollbar-track-y.png) no-repeat 0 0; position:absolute; background-position:0 0; right: 0; top:0; width:15px; z-index:11;}
.ps-ui-scroller .track      {background:transparent url(//s4.rationalcdn.com/ps/ui/scroller/images/bg-scrollbar-trackend-y.png) repeat-y 0 100%; height:100%; width:13px; position:relative; padding:0 1px;}
.ps-ui-scroller .thumb      {background:transparent url(//s4.rationalcdn.com/ps/ui/scroller/images/bg-scrollbar-thumb-y.png) repeat-y 50% 100%; height:20px; width:25px; cursor:pointer; overflow:hidden; position:absolute; top:0; left:-5px;}
.ps-ui-scroller .disable    {display:none;}
/* --- Smart Banner --- */
#sb_pad     {background: #e5e5e5; background: -moz-linear-gradient(top,  #e5e5e5 0%, #e1e1e1 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#e1e1e1)); background: -webkit-linear-gradient(top,  #e5e5e5 0%,#e1e1e1 100%); background: -o-linear-gradient(top,  #e5e5e5 0%,#e1e1e1 100%); background: -ms-linear-gradient(top,  #e5e5e5 0%,#e1e1e1 100%); background: linear-gradient(to bottom,  #e5e5e5 0%,#e1e1e1 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e1e1e1',GradientType=0 );}
#sb_Wrap    {padding:10px;}
/* --- Smart Banner Close Button --- */
.sbClose        {display:block; position:absolute; top:0; left:0; width:50px; height:100%}
.sbCloseButton  {display:block; position:absolute; top:50%; left:15px;
  background:#CCC; width:25px; height:25px; margin-top:-13px;
  color:#000; font-family:Arial; text-transform:uppercase; text-decoration:none; text-align:center; font-size:18px; line-height:1.4em; font-weight:normal;
  border-radius:50%; -moz-border-radius:50%; -webkit-border-radius:50%;
  box-shadow:0px 0px 2px 0px #666; -moz-box-shadow:0px 2px 2px 0px #666; -webkit-box-shadow:0px 0px 2px 0px #666;
}
.sbClose a          {color:#000;}
.sbClose a:hover    {text-decoration:none;}

/* --- Smart Banner Icon & Text --- */
#sb         {text-align:left; display:block; padding-left:60px;}
#sb img     {float:left; margin:0 20px 0 0;-webkit-border-radius: 9px; -moz-border-radius: 9px; border-radius: 9px; border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; height: 70px;}

a .sbHeader, a .sbSubHeader, a .sbLine  {text-shadow:0 1px 0 #fff;font-size:11px;line-height:1.5em; display:block;font-weight:bold; z-index:101;}
.sbHeader   { font-size:13px;color:#4d4d4d; padding-top:10px;}
.sbSubHeader{color:#6a6a6a;}
.sbLine     {font-weight:normal;color:#6a6a6a; text-transform:uppercase; }

/* --- Smart Banner Button --- */
.sbButton {position:absolute; right:10px; top:50%; margin-top:-15px; height:30px; padding:0 20px; text-transform:uppercase;
  text-decoration:none; border:1px solid #bfbfbf; font-size:12px; line-height:30px; text-align:center; font-weight:bold; color:#6a6a6a;
  background:-webkit-linear-gradient(top, #efefef 0%,#dcdcdc 100%); text-shadow:0 1px 0 rgba(255,255,255,0.8); border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px; box-shadow:0 1px 0 rgba(255,255,255,0.6),0 1px 0 rgba(255,255,255,0.7) inset;}
.sbButton:hover {display:none;}

@media (max-width:525px) {
  .sbHeader {padding-top:10px;}
  .sbButton {display:none;}
}

@media (max-width:321px) {
  .sbHeader {padding-top:0px;}
  .sbButton {display:none;}
}



