.swiper-container {
  width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  .img_banner{
    width: 100%;
  }
}

.swiper-pagination{
  position: relative;
  bottom: -5px !important;
}

.swiper-pagination-bullet-active{
  background: $main-color !important;
  width: 10px;
  height: 10px;
}