@import url(../components/bootstrap/dist/css/bootstrap.min.css);
.blind {
  display: none; }

.heading {
  color: #444;
  font-size: 20px;
  border-bottom: 1px solid #eee;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px; }
  .heading a.title {
    color: #444; }

.img_logo {
  border-radius: 50%;
  width: 32px;
  height: 32px;
  margin-right: 5px; }

.ellipsis, .sidebar-fixed li.nav_list {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.sidebar-fixed {
  background: #fff;
  position: absolute;
  top: 0;
  left: 0; }
  @media screen and (min-width: 1050px) {
    .sidebar-fixed {
      width: 230px;
      height: 100%; } }
  @media screen and (max-width: 1050px) {
    .sidebar-fixed {
      width: 0;
      height: 0;
      display: none; } }
  .sidebar-fixed .title {
    font-size: 20px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px; }
  .sidebar-fixed .inner-sidebar {
    padding: 10px; }
  .sidebar-fixed li.nav_list {
    list-style: none;
    margin-bottom: 8px;
    width: 210px; }
    .sidebar-fixed li.nav_list a.linkNav {
      color: #333;
      font-size: 14px; }
    .sidebar-fixed li.nav_list a.linkNav:hover {
      color: #c30000; }

.recomList,
.channelList {
  padding-left: 0; }

@media screen and (min-width: 1050px) {
  .content_area {
    padding-left: 230px; } }
@media screen and (max-width: 1050px) {
  .content_area {
    padding-left: 0; } }

.content_wrapper {
  position: relative;
  background: #eee;
  padding: 10px; }

.inner_content {
  max-width: 1200px;
  margin: 0 auto;
  background: #fff;
  padding: 10px; }

html, body {
  overflow-x: hidden; }

.header {
  border-bottom: 1px solid #eee;
  position: relative; }
  .header .btnLeftMenu {
    color: #b7b7b7;
    font-size: 20px; }
  .header .btnLeftMenu:hover {
    color: #c30000; }
  .header .text-red {
    color: #c30000; }
  .header .text-black {
    color: #333; }

.logo_area {
  font-size: 26px;
  position: relative;
  top: -6px;
  left: 25px;
  display: inline-block; }
  .logo_area .logo:hover {
    text-decoration: none; }
  .logo_area .img_logo {
    position: relative;
    top: -3px;
    left: 7px; }

.btn_login {
  position: absolute;
  right: 20px;
  top: 16px; }

#footer {
  margin-top: 10px;
  background: #fff;
  padding: 10px;
  text-align: center;
  color: #333; }

.community {
  padding: 10px; }
  .community a.btn_commnity {
    display: inline-block;
    margin-bottom: 10px; }
  .community .img_community {
    width: 100%; }

/* --- Reset --- */
/* --- Font --- */
/*h1, h2, h3, h4 {font-family:'Roboto Condensed', Arial, Helvetica, sans-serif; font-style: normal; font-weight:400;}
p, a, center, ol, ul, li, form, label, table, tbody, tfoot, thead, tr, th, td, form, input, button, hr {font-family: Verdana, Helvetica, sans-serif; position:relative;}*/
/* --- 24 Grid --- */
/* Footer Logos */
/*.logos {display: block; text-align: center; float: none; padding: 10px 0px 0 0px; margin: 0 auto;}
.logos .lg {display: inline-block; float: right; background: url('../img/logos-sprite5small-opt.png') 0 0 no-repeat; height: 26px; border: 0px solid white;}
.logos #logo_rational 		{width: 62px; background-position: -48px -10px;}
.logos #logo_cigital 		{width: 52px; background-position: -54px -52px;}
.logos #logo_gameCareCert 	{width: 30px; background-position: -64px -220px;}
.logos #logo_gameCare 		{width: 42px; background-position: -59px -96px;}
.logos #logo_iom 			{width: 34px; background-position: -63px -266px;}
.logos .zeb 				{width: 30px; background-position: -66px -311px;}
.logos .igc 				{width: 53px; background-position: -53px -136px;}
.logos .juego 				{width: 116px; background-position: -22px -392px;}
.logos .adult 				{width: 30px; background-position: -65px -175px;}
.logos #logo_exclusion 		{width: 26px; background-position: -67px -352px;}
.logos #logo_fejar 			{width: 34px; background-position: -4px -450px;}
.logos .g-cert 				{width: 70px; background-position: -47px -432px;}

.list-inline > li:first-child {padding-left: 0; padding-right: 12px;}*/
/* --- Template Hightlights ---
.red 	{background-color: #dd7f80;}
.green 	{background-color: #8dc59a;}
.grey 	{background-color: #b2b2b2;}
.lgrey 	{background-color: #cccccc;}*/
/* ------------------ ie8, 7,6 Fix ------------------ */
/*******************/
/* Build Time: Thu Feb 05 2015 14:28:00 GMT+0000 (GMT Standard Time) */
#languageSelector.active {
  display: block; }

.ps-ui-rm-init-hide li {
  visibility: hidden !important; }

li.ps-ui-rm-more.rm-hidden {
  visibility: hidden !important; }

ul.ps-ui-rm-main li.rm-hidden, ul.ps-ui-rm-overflow li.rm-hidden {
  visibility: hidden;
  position: absolute;
  /*IE8 bug with absolute, oldie.css sets this to relative*/
  left: 0;
  /*left:0; fixes iOS overflow issue*/ }

div.ps-ui-rm-overflow-container {
  display: none !important;
  top: 30px;
  position: absolute;
  left: 0px;
  width: 100%;
  background: #FFF;
  z-index: 10; }

div.ps-ui-rm-overflow-container ul:first-child {
  padding-bottom: 0; }

div.ps-ui-rm-overflow-container ul:last-child {
  padding-top: 0; }

div.ps-ui-rm-overflow-container ul li a {
  display: block !important;
  padding: 10px;
  border-top: 1px solid #CCC;
  background: #F5F5F5;
  color: #333333; }

div.ps-ui-rm-overflow-container a:hover {
  background: #3F3F3F;
  color: #fff;
  text-decoration: none; }

div.ps-ui-rm-overflow-container.visible {
  display: block !important; }

ul.ps-ui-rm-main-overflow.visible {
  display: block !important; }

div.ps-ui-rm-overflow-container ul:first-child li:last-child a {
  border-bottom: none; }

div.ps-ui-rm-overflow-container ul li:last-child a {
  border-bottom: 1px solid #CCC; }

#sectionNav .ps-ui-rm-overflow-container {
  top: 34px; }

#sectionNav ul.ps-ui-rm-overflow li {
  display: block;
  float: none; }

#sectionNav ul.ps-ui-rm-overflow li a {
  border-top: none;
  border-left: none;
  border-right: none; }

div.ps-ui-slide-out-menu {
  width: 0;
  right: 0;
  height: 100%;
  position: absolute;
  z-index: 999;
  visibility: hidden;
  overflow: hidden; }

div.ps-ui-slide-out-menu.active {
  width: 80%;
  visibility: visible; }

div.ps-ui-slide-out-menu.active + div {
  position: absolute;
  right: 80%; }

div.ps-ui-slide-out-menu + div {
  right: 0; }

.ps-ui-slide-out-menu ul {
  padding: 20px; }

.ps-ui-slide-out-menu ul li {
  padding: 0; }

.ps-ui-slide-out-menu ul li a {
  padding: 10px 0;
  display: block;
  color: #efefef;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.750em;
  border-top: 1px solid #333; }

.ps-ui-slide-out-menu ul li:last-child a {
  border-bottom: 1px solid #333; }

.ps-ui-slide-out-menu #estateLogo {
  margin-bottom: 0 !important; }

.ps-ui-slide-out-menu ul li.dropdown {
  background: url("//www.psimg.com/img/estate/downarrow.gif") no-repeat scroll right 20px; }

/* Base Layout */
/* No JS */
.story-rotator.no-js {
  width: 950px;
  display: block;
  overflow: hidden;
  margin: 0; }

.story-rotator.no-js .item {
  width: 450px;
  height: auto;
  margin: 25px 0 0 25px;
  display: inline;
  float: left;
  border: none; }

.story-rotator.no-js .story-rotator-wrapper {
  background: none;
  position: inherit; }

/* End of No JS */
/* Transitions */
.story-rotator .item {
  transition: width 0.3s ease-out;
  -moz-transition: width 0.3s ease-out;
  /* Firefox 4 */
  -webkit-transition: width 0.3s ease-out;
  /* Safari and Chrome */
  -o-transition: width 0.3s ease-out;
  /* Opera */ }

.story-rotator .item div {
  transition: left 0.3s ease-out;
  -moz-transition: left 0.3s ease-out;
  /* Firefox 4 */
  -webkit-transition: left 0.3s ease-out;
  /* Safari and Chrome */
  -o-transition: left 0.3s ease-out;
  /* Opera */ }

/* End of Transitions*/
/* Full Layout */
.story-rotator-wrapper {
  background: none;
  position: absolute;
  width: 150%;
  height: 300px;
  z-index: 1; }

.story-rotator {
  position: relative;
  height: 300px;
  display: block;
  overflow: hidden;
  margin: 25px 20px 0 25px; }

.story-rotator .item {
  margin: 0;
  display: block;
  position: relative;
  width: 11.5%;
  height: 300px;
  float: left;
  overflow: hidden;
  border-left: solid 2px #000; }

/* IE height fix */
.story-rotator .item a {
  height: 100%; }

.story-rotator .item.focused {
  margin: 0;
  display: block;
  position: relative;
  width: 32%;
  height: 300px;
  float: left;
  overflow: hidden;
  border-left: solid 2px #000; }

.story-rotator .item:first-child {
  border-left: none; }

.story-rotator .item:last-of-type {
  /* Fix for multiple transitions simultaniously in progress */
  width: 32%; }

.story-rotator .item.focused .caption {
  padding: 0 0 15px 0; }

/* Showing/Hiding Captions*/
.story-rotator .item .full {
  display: none; }

.story-rotator .item .small {
  display: inline; }

.story-rotator .focused .small {
  display: none !important; }

.story-rotator .focused .full {
  display: inline !important; }

/*
    Non-IE hack version (double classes)
    .story-rotator .item .caption.full {
    display: none;
}
.story-rotator .item.focused .caption.small {
    display: none;
}
.story-rotator .item.focused .caption.full {
    display: inline;
}
.story-rotator .item .caption.small {
    display: inline;
}*/
.story-rotator .caption {
  background: url("http://www.psimg.com/img/blog/overlay.png") repeat-x;
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 0 10px 0;
  line-height: 1.5em;
  display: block;
  width: 100%; }

.story-rotator .item .caption strong {
  padding: 15px 15px 5px 15px;
  color: #FFF;
  display: block;
  font-size: 15px; }

.story-rotator .item:last-of-type .caption h2 {
  width: 25.5%; }

.story-rotator .item.focused:last-of-type .caption h2 {
  width: 86%; }

.story-rotator .item .caption a {
  color: #FFF;
  text-decoration: none; }

.story-rotator .item p {
  color: #CCC;
  padding: 0 10px; }

.rotator-button {
  display: none; }

/* End of Full Layout */
/* Button Layout */
.rotator-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 30%;
  z-index: 2;
  border-radius: 25px;
  background-color: rgba(5, 5, 5, 0.5);
  cursor: pointer; }

.rotator-button.previous-button {
  left: 3%; }

.rotator-button.next-button {
  right: 3%; }

.rotator-button:before,
.rotator-button:after {
  content: "";
  width: 12px;
  height: 15px;
  left: 15px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.7); }

.rotator-button:active:before,
.rotator-button:active:after {
  background-color: rgba(255, 255, 255, 0.9); }

.rotator-button:before {
  top: 10px;
  -webkit-transform: skew(-45deg, 0deg);
  -moz-transform: skew(-45deg, 0deg);
  -ms-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg); }

.rotator-button:after {
  top: 25px;
  -webkit-transform: skew(45deg, 0deg);
  -moz-transform: skew(45deg, 0deg);
  -ms-transform: skew(45deg, 0deg);
  -o-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg); }

.rotator-button.next-button:before {
  left: 20px;
  -webkit-transform: skew(45deg, 0deg);
  -moz-transform: skew(45deg, 0deg);
  -ms-transform: skew(45deg, 0deg);
  -o-transform: skew(45deg, 0deg);
  transform: skew(45deg, 0deg); }

.rotator-button.next-button:after {
  left: 20px;
  -webkit-transform: skew(-45deg, 0deg);
  -moz-transform: skew(-45deg, 0deg);
  -ms-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  transform: skew(-45deg, 0deg); }

.rotator-button:active {
  background-color: rgba(5, 5, 5, 0.8); }

/* End of Button Layout */
/* Mobile view */
@media (max-width: 764px) {
  .rotator-button {
    display: inline; }

  .story-rotator-wrapper {
    width: 100%; }

  .story-rotator .item.focused div {
    background-position: 50% 0% !important; }

  /* Previous & Next slides view */
  .story-rotator .item.previous {
    left: -50%; }

  .story-rotator .item.next {
    right: -50%; }

  .story-rotator .item.previous div.caption,
  .story-rotator .item.next div.caption {
    display: none; }

  .story-rotator .item:last-of-type {
    width: 100%; }

  .story-rotator .item.previous,
  .story-rotator .item.next {
    display: block; }

  .story-rotator .item.next a div,
  .story-rotator .item.previous a div {
    /* Tablet View - Override positioning */
    background-position: 50% 0% !important; }

  .story-rotator .item {
    width: 100%;
    overflow: hidden;
    border-left: none;
    position: absolute;
    z-index: 90;
    display: none; }

  .story-rotator .item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    z-index: 91; }

  .story-rotator .item.focused {
    display: block;
    width: 100%;
    border-left: none;
    z-index: 92; }

  .story-rotator .item.focused * {
    z-index: 92; }

  .story-rotator .item.focused:before {
    opacity: 0;
    z-index: 91;
    -webkit-transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -ms-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
    transition: opacity 1s ease-out; }

  .story-rotator .item .caption h2 {
    padding: 5px 0 0 10px !important; }

  .story-rotator a div {
    left: 0 !important; }

  .story-rotator .item div {
    transition: none;
    -moz-transition: none;
    /* Firefox 4 */
    -webkit-transition: none;
    /* Safari and Chrome */
    -o-transition: none;
    /* Opera */ } }
/* End of Mobile view*/
.story-rotator .focused div {
  left: 0 !important; }

.panel-tabs .hidden {
  display: none; }

/* --- Panel Tabs --- */
/* --- Panel Tabs Header --- */
.panel-tabs .tabs-container {
  background: #000;
  padding: 0px;
  margin: 0;
  clear: both;
  border: 1px solid #ccc;
  border-bottom: none;
  cursor: pointer;
  white-space: nowrap; }

.panel-tabs .tab-button {
  background: #000;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 15px;
  padding: 10px 15px;
  display: table-cell;
  color: #CCC; }

.panel-tabs .tab-button.selected, .panel-tabs .tab-button:hover {
  color: #666 !important;
  text-decoration: none;
  background: #d5d5d5;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q1ZDVkNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjExJSIgc3RvcC1jb2xvcj0iI2U4ZThlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQyJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY5JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #d5d5d5 0%, #e8e8e8 11%, #f6f6f6 42%, #ffffff 69%, #ffffff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d5d5d5), color-stop(11%, #e8e8e8), color-stop(42%, #f6f6f6), color-stop(69%, #ffffff), color-stop(100%, #ffffff));
  background: -webkit-linear-gradient(top, #d5d5d5 0%, #e8e8e8 11%, #f6f6f6 42%, #ffffff 69%, #ffffff 100%);
  background: -o-linear-gradient(top, #d5d5d5 0%, #e8e8e8 11%, #f6f6f6 42%, #ffffff 69%, #ffffff 100%);
  background: -ms-linear-gradient(top, #d5d5d5 0%, #e8e8e8 11%, #f6f6f6 42%, #ffffff 69%, #ffffff 100%);
  background: linear-gradient(to bottom, #d5d5d5 0%, #e8e8e8 11%, #f6f6f6 42%, #ffffff 69%, #ffffff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d5d5d5', endColorstr='#ffffff',GradientType=0 ); }

/* --- Panel Tabs Content --- */
.panel-tabs .tab-panel {
  border: 1px solid #ccc;
  border-top: none;
  padding: 15px; }

.hidden {
  display: none; }

/* --- Panel Tabs --- */
.square-tabs .tab-buttons-wrapper {
  position: absolute;
  right: 0;
  top: -30px; }

/* --- Panel Tabs Header --- */
.square-tabs .tab-button {
  overflow: hidden;
  height: 10px;
  width: 10px;
  display: block;
  float: left;
  background-color: #ccc;
  margin: 3px 0 0 3px;
  text-decoration: none;
  outline: none;
  border: 1px solid #b8b8b8;
  text-indent: -10000px; }

.square-tabs .tab-button.selected, .square-tabs .tab-button:hover {
  background-color: #d7121c; }

/* --- Panel Tabs Content --- */
.square-tabs .tab-content {
  display: block; }

@media (max-width: 764px) {
  .square-tabs .tab-button {
    height: 15px;
    width: 15px;
    margin-top: -3px; } }
.ps-ui-scroller {
  height: 300px;
  overflow: hidden;
  position: relative;
  user-select: none;
  -o-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none; }

.ps-ui-scroller .viewport {
  height: 300px;
  overflow: hidden;
  position: relative;
  z-index: 10; }

.ps-ui-scroller .overview {
  list-style: none;
  /*position:absolute;*/
  left: 0;
  top: 0;
  margin: 0; }

.ps-ui-scroller .scrollbar {
  background: transparent url(//s4.rationalcdn.com/ps/ui/scroller/images/bg-scrollbar-track-y.png) no-repeat 0 0;
  position: absolute;
  background-position: 0 0;
  right: 0;
  top: 0;
  width: 15px;
  z-index: 11; }

.ps-ui-scroller .track {
  background: transparent url(//s4.rationalcdn.com/ps/ui/scroller/images/bg-scrollbar-trackend-y.png) repeat-y 0 100%;
  height: 100%;
  width: 13px;
  position: relative;
  padding: 0 1px; }

.ps-ui-scroller .thumb {
  background: transparent url(//s4.rationalcdn.com/ps/ui/scroller/images/bg-scrollbar-thumb-y.png) repeat-y 50% 100%;
  height: 20px;
  width: 25px;
  cursor: pointer;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -5px; }

.ps-ui-scroller .disable {
  display: none; }

/* --- Smart Banner --- */
#sb_pad {
  background: #e5e5e5;
  background: -moz-linear-gradient(top, #e5e5e5 0%, #e1e1e1 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e5e5e5), color-stop(100%, #e1e1e1));
  background: -webkit-linear-gradient(top, #e5e5e5 0%, #e1e1e1 100%);
  background: -o-linear-gradient(top, #e5e5e5 0%, #e1e1e1 100%);
  background: -ms-linear-gradient(top, #e5e5e5 0%, #e1e1e1 100%);
  background: linear-gradient(to bottom, #e5e5e5 0%, #e1e1e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#e1e1e1',GradientType=0 ); }

#sb_Wrap {
  padding: 10px; }

/* --- Smart Banner Close Button --- */
.sbClose {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%; }

.sbCloseButton {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  background: #CCC;
  width: 25px;
  height: 25px;
  margin-top: -13px;
  color: #000;
  font-family: Arial;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.4em;
  font-weight: normal;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0px 0px 2px 0px #666;
  -moz-box-shadow: 0px 2px 2px 0px #666;
  -webkit-box-shadow: 0px 0px 2px 0px #666; }

.sbClose a {
  color: #000; }

.sbClose a:hover {
  text-decoration: none; }

/* --- Smart Banner Icon & Text --- */
#sb {
  text-align: left;
  display: block;
  padding-left: 60px; }

#sb img {
  float: left;
  margin: 0 20px 0 0;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 70px; }

a .sbHeader, a .sbSubHeader, a .sbLine {
  text-shadow: 0 1px 0 #fff;
  font-size: 11px;
  line-height: 1.5em;
  display: block;
  font-weight: bold;
  z-index: 101; }

.sbHeader {
  font-size: 13px;
  color: #4d4d4d;
  padding-top: 10px; }

.sbSubHeader {
  color: #6a6a6a; }

.sbLine {
  font-weight: normal;
  color: #6a6a6a;
  text-transform: uppercase; }

/* --- Smart Banner Button --- */
.sbButton {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  height: 30px;
  padding: 0 20px;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #bfbfbf;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  color: #6a6a6a;
  background: -webkit-linear-gradient(top, #efefef 0%, #dcdcdc 100%);
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.6), 0 1px 0 rgba(255, 255, 255, 0.7) inset; }

.sbButton:hover {
  display: none; }

@media (max-width: 525px) {
  .sbHeader {
    padding-top: 10px; }

  .sbButton {
    display: none; } }
@media (max-width: 321px) {
  .sbHeader {
    padding-top: 0px; }

  .sbButton {
    display: none; } }

/*# sourceMappingURL=styles.css.map */
