<!--agent password chagne-->
<div class="modal" id="setPlayerPassword" role="dialog">
    <form class="modal-dialog" method="post" action="/api/v1/player/set/password" id="frm_set_player_password">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Change Password</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Player ID</label>
                    <input type="text" class="form-control target_user_id" name="user_id"  readonly />
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control pass" name="password" id="set_player_password" placeholder="at least 8 characters" required autocomplete="off" />
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control re_pass" name="re_password" placeholder="at least 8 characters" required autocomplete="off" />
                </div>
            </div>
            <!--<input type="hidden" class="target_user_id"  name="user_id"  id="code" value="">-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-set-agent-password-submit">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->