<div class="modal fade" id="registerLive" tabindex="-1" role="dialog" aria-labelledby="myMomyModalLabeldalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Broadcast Live</h4>
            </div>
            <div class="modal-body">
                <!-- modal body -->
                <form id="form_bc_live_on" action="/api/v1/broadcast/live"  method="">
                    <input type="hidden" class="method" value="PUT">

                    <fieldset class="form-group">
                        <label for="title">Link</label>
                        <input type="text" class="form-control" name="link"  placeholder="Insert Link" required autocomplete="off"/>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="submit_bc_live_on">Add</button>
                        </div>
                    </fieldset>
                    <!--<input type="hidden" name="id" value="">-->
                </form>
                <!-- // modal body -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--// Modal (Add Player) -->



