<!-- 공통으로 모달을 사용할 수 있도록 변경할 것 -->
<!-- Modal 에이전트를 생성할 경우 -->
<div class="modal" id="createPlayer" role="dialog">
    <form class="modal-dialog" method="post" action="http://beta.holdemclub.tv/api/v1/signup/result" id="frm_create_player">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Create Player</h4>
            </div>
            <div class="modal-body">
              {{#if agent_list}}
                  <div class="form-group">
                      <label>Parent Agent</label>
                      <select class="form-control" name="market_code">
                        {{#each agent_list}}
                            <option value="{{code}}">
                                {{IndentWithLetter layer '--'}} {{this.code}}
                            </option>
                        {{/each}}
                      </select>
                  </div>
              {{/if}}
                <div class="form-group"> <!-- 에러가 있을 경우, has-error 클래스를 넣는다. -->
                    <label class="control-label">Player ID</label>
                    <input type="text" class="form-control " name="user_id" placeholder="at least 8 characters" autofocus required autocomplete="off"/>
                </div>
                <div class="form-group"> <!-- 에러가 있을 경우, has-error 클래스를 넣는다. -->
                    <label class="control-label">Nickname</label>
                    <input type="text" class="form-control " name="nickname" placeholder="at least 4 characters" autofocus required autocomplete="off"/>
                </div>
                <div class="form-group"> <!-- 에러가 있을 경우, has-error 클래스를 넣는다. -->
                    <label class="control-label">Email <small>(Option)</small></label>
                    <input type="email" class="form-control " name="email" placeholder="at least 4 characters" autofocus autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control pass" name="password" id="user_pass" placeholder="at least 4 characters" required autocomplete="off"/>
                </div>
                <div class="form-group">
                    <label>Confirm Password</label>
                    <input type="password" class="form-control re_pass" name="re_password" id="re_user_pass" placeholder="at least 4 characters" required autocomplete="off"/>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary btn-create-agent-submit">Create</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </form>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->