<div class="modal fade" id="registerLive" tabindex="-1" role="dialog" aria-labelledby="myMomyModalLabeldalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Broadcast Live</h4>
            </div>
            <div class="modal-body">
                <!-- modal body -->
                <form class="add_free_from" action="/notice/add"  method="post">

                    <fieldset class="form-group">
                        <label for="title">Link</label>
                        <input type="text" class="form-control" name="comment" id="comment" placeholder="Insert Title" required autocomplete="off"/>
                    </fieldset>

                    <fieldset class="form-group">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary add-freer-btn">Add</button>
                        </div>
                    </fieldset>
                    <!--<input type="hidden" name="id" value="">-->
                </form>
                <!-- // modal body -->
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--// Modal (Add Player) -->



